.clock {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.row {
    display: flex;
    gap: 20px;
}

.btn {
    background-color: darkcyan;
    border: none;
    border-radius: 25px;
    padding: 0 45px;
    color: white;
}
